<h1 class="text-center bg-dark text-light py-1">Practice on Reactive Forms</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md btn-group" role="group" aria-label="">
            <button class="btn btn-dark" role="group"(click)="showForms($event);" id="login">Log in</button>
            <button class="btn btn-dark" role="group"(click)="showForms($event);" id="newuser">Sign Up</button>
        </div>
        <div class="col-md">
            <div class="border border-2 rounded p-2">
                <h3 class="text-center bg-dark text-light rounded py-1">All Users</h3>
                <div class="text-center">
                    <div class="" *ngFor="let user of users;let index=index;">
                        {{user.username}}
                    </div>
                </div>            
            </div>
        </div>
        <div class="col-md" [hidden]="hidden">
            <app-login></app-login>
        </div>
        <div class="col-md">
            <app-create-account (posted)="getUsers();"></app-create-account>
        </div>
    </div>
</div>