<div class="container-fluid" style="box-shadow: 0px 0px 5px black;border-radius: 5px;">
    <form action="" [formGroup]="conform">
            <div class="row p-2">
                <h3 class="text-center bg-dark text-light py-1" style="border-radius: 5px;">Currency Calculator</h3>
            </div>
            <div class="row mb-2">
                <div class="form-group col">
                    <label for="Currency1">Currency1</label><br>
                    <select class="form-control" name="Currency1" id="Currency1" formControlName="Currency1">
                        <option *ngFor="let cur of currencies;index as index;" value="{{index}}">{{cur.name}}</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="Currency2">Currency2</label><br>
                    <select class="form-control" name="Currency2" id="Currency2" formControlName="Currency2">
                        <option *ngFor="let cur of currencies;index as index;" value="{{index}}">{{cur.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row  mb-2 pb-3">
                <div class="form-group col">
                    <label for="Cur1Amount">{{this.currencies[Currency1?.value].name}} Amount</label>
                    <input type="number" name="Cur1Amount" class="form-control" placeholder="Insert {{this.currencies[Currency1?.value].name}} currency amount" aria-describedby="helpId" id="Cur1Amount" formControlName="Cur1Amount">
                </div>
                <div class="form-group col">
                    <label for="Cur2Amount">{{this.currencies[Currency2?.value].name}} Amount</label>
                    <input type="number" name="Cur2Amount" class="form-control" aria-describedby="helpId" id="Cur2Amount" value="{{this.convert()}}" disabled>
                </div>
            </div>
    </form>
</div>