 <div class="row bg-dark">
    <div class="col-1">
        <button class="btn btn-light px-2 py-1 mt-2"(click)="hidden=!hidden;" style="position: fixed;z-index: 2;"><i class="fa-solid fa-bars"></i></button>            
    </div>       
    <div class="col mx-2">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark" [hidden]="hidden">  
            <div class="nav navbar-nav">
                <a class="nav-item nav-link" [routerLink]="['../edit']">Edit <i class="fa-solid fa-pen-to-square"></i></a>
                <a class="nav-item nav-link"[routerLink]="['../newuser']">Newuser <i class="fa-solid fa-square-plus"></i></a>
                <a class="nav-item nav-link" [routerLink]="['']">Logout <i class="fa-solid fa-right-from-bracket"></i></a>
            </div>
        </nav>
    </div>  
</div>