 <div class="row bg-dark">
    <div class="col">
        <button class="btn btn-sm btn-dark mt-1"(click)="hidden=!hidden;" style="position: fixed;z-index: 2;"><i class="fa-solid fa-bars"></i></button>            
    </div>       
    <div class="col-lg mx-2">
        <ul class="nav justify-content-end" [hidden]="hidden">
            <li class="nav-item"><a class="nav-link text-light" [routerLink]="['../dashboard']">Home <i class="fa-solid fa-pen-to-square"></i></a></li>
            <li class="nav-item"><a class="nav-link text-light" [routerLink]="['../edit']">Edit <i class="fa-solid fa-pen-to-square"></i></a></li>
            <li class="nav-item"><a class="nav-link text-light"[routerLink]="['../newuser']">Newuser <i class="fa-solid fa-square-plus"></i></a></li>
            <li class="nav-item"><a class="nav-link text-light" [routerLink]="['']">Logout <i class="fa-solid fa-right-from-bracket"></i></a></li>
        </ul>
    </div>  
</div>  