<div class="row">
    <div class="col">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <button class="btn btn-dark px-1 py-0"(click)="hidden=!hidden;">menu</button>
            <div class="nav navbar-nav" [hidden]="hidden">
                <a class="nav-item nav-link" [routerLink]="['']">PoRF</a>
                <a class="nav-item nav-link" [routerLink]="['']">Home</a>
                <a class="nav-item nav-link"[routerLink]="['']">Home</a>
            </div>
        </nav>
    </div>        
</div>