<div class="container-fluid">
    <div class="row">
        <app-nav-menu></app-nav-menu>
        <h1 class="text-center">Welcome {{activeUser.username}}!</h1>
        <app-calculator></app-calculator>
        <div class="col-md">
            <div class="border border-2 rounded p-2">
                <h3 class="text-center bg-dark text-light rounded py-1"(click)="hidden=!hidden">All Users</h3>
                <div [hidden]="hidden">
                    <div class="" *ngFor="let user of users;let index=index;">
                        --{{user.username}}--{{user.id}}
                        <button class="btn btn-danger btn-sm py-0" (click)="onDelete(user.id,index)">-</button>
                        <button (click)="showUserDetails(user)" class="btn btn-info btn-sm py-0 mx-2">i</button>
                    </div>
                </div>            
            </div>
        </div>
    </div>
</div>
