
<div class="container-fluid">
    <div class="row">
        <app-nav-menu></app-nav-menu>
    </div>
    <div class="row">
        <h1 class="text-center">Settings</h1>
    </div>
    <h3 (click)="hiddenCur=!hiddenCur" class="text-center bg-dark text-light py-1" id="allCursHeader" style="border-radius: 5px;">Show Curencies</h3>
    <div class="row">
        <div class="col-md-4" [hidden]="hiddenCur">
            <div *ngFor="let curr of currs">
                <div class="btn-group mx-2">
                    <button (click)="setFormValue(curr)" type="button" class="btn btn-dark btn-sm py-0 my-1"><i class="fa-solid fa-gear 2x"></i></button>
                </div>
                {{curr.name}}
            </div>
        </div>
        <div class="col-md">
            <div class="container" [hidden]="!selectedCur">
                <form action=""class="form-control" [formGroup]="curEditForm" (ngSubmit)="onSubmitEdit()">
                <button type="button" class="btn btn-danger btn-sm py-0 my-1" (click)="selectedCur=null;hiddenCur=!hiddenCur"><i class="fa-solid fa-xmark"></i></button> 
                        <h3 class="text-center bg-dark text-light py-1 mt-2"  style="border-radius: 5px;">
                            {{selectedCur?.name}}
                        </h3>
                    <div class="row">
                        <div class="col-md-6" hidden>
                            <label for="currid">ID</label>
                            <input type="text" value=""class="form-control" name="currid" formControlName="_id">
                        </div>
                        <div class="col-md-6">
                            <label for="currcode">Code</label>
                            <input type="text" value=""class="form-control" name="currcode" formControlName="code">
                        </div>
                        <div class="col-md-6">
                            <label for="currname">Name</label>
                            <input type="text" value=""class="form-control" name="currname" formControlName="name">
                        </div>
                    </div>
                    <div class="row">            
                        <div class="col-md">
                            <label for="currrate">Rate to US Dollars</label>
                            <input type="text" value=""class="form-control" name="currrate" formControlName="rate">
                        </div>
                        <div class="col-md" hidden>
                            <label for="currinverseRate">Inverse Rate</label>
                            <input type="text" value="{{calcInvRate(rate)}}"class="form-control" name="currinverseRate" formControlName="inverseRate">
                        </div>
                    </div>
                    <div class="btn-group col-md-12 pt-2">
                        <button class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




